@using TekinTeknikServis.Core.Services
@model List<Product>
@{
    ViewBag.Title = "Ürünler";
    Layout = "_Layout";
}

<section class="products">
    <h2>Ürünlerimiz</h2>

    <div class="product-container">
        @foreach (var p in Model)
        {
            <div class="product-card">
                <img src="@p.ImageUrl" alt="@p.Name" />
                <h3>@p.Name</h3>
                <p>@p.PriceText</p>
                <div class="product-actions">
                    <a href="@Url.RouteUrl("urun-detay", new { id = p.Id })" class="detay-btn">Detay</a>
                    <form asp-controller="Cart" asp-action="Add" asp-route-id="@p.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="cart-btn">
                            <i class="fas fa-cart-plus"></i> Sepete Ekle
                        </button>
                    </form>
                </div>

            </div>
        }
    </div>
</section>

